.new-footer-container {
    background-color: #333;
    color: #fff;
    padding: 20px;
    margin-top: 1100px;
}

.new-footer-top {
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

/* .new-footer-info {
    flex: 1;
    margin-right: 20px;
} */

.new-footer-container-image-logo {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.new-footer-logo {
    max-width: 100%;
    width: 300px;
    height: auto;
    margin-bottom: 40px;
}

.new-footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
    border-top: 1px solid #555;
}

.new-footer-members-list {
    font-size: 15px;
}

.new-footer-members-list a {
    margin-top: 30px;
}
