.custom-modal .modal-dialog {
    max-width: 80%; /* Adjust the value as needed */
  }
  
  .custom-modal .modal-content {
    height: 80vh; /* Adjust the value as needed */
  }
  
  .custom-modal .modal-body {
    overflow-y: auto;
  }
  